<h4 class="primary-txt top-heading">Below you can find the list of all visa types and their approx fees.  </h4>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Employment Visa</h2>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/employment-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 shaded-box">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Dependent Work Permit</h2>
				<p class="card-subheading">2 Years</p>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/dependant-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Temporary Work Permit</h2>
				<p class="card-subheading">6 Months</p>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/temporary-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 shaded-box">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Partner Visa</h2>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/partner-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Family Dependant Visa</h2>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/family-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 shaded-box">
		<div class="col-md-4 col-xs-12">
			<md-card class="primary-bkground">
				<h2 class="card-heading">Maid Visa</h2>
			</md-card>
		</div>
		<div class="col-md-8 col-xs-12 align-with-card">
			<p class="visa-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				<button class="btn btn-clr" md-raised-button (click)="redirect('/maid-visa')">Apply Now</button>
			</p>
		</div>
	</div>
</div>