<!-- <loaders-css [loader]="'square-spin'" [loaderClass]="'my-loader'"></loaders-css> -->


<md-tab-group [selectedIndex]="selectedTab" *ngIf="!submittedData">
<!-- <md-tab-group [selectedIndex]="selectedTab"> -->

  <md-tab label="Organization Details">
    <md-toolbar color="primary">
      <span><md-icon>work</md-icon></span>

      <span class="center-txt">Organization Details</span>

      <button md-icon-button >
        <!-- <md-icon>more_vert</md-icon> -->
      </button>
    </md-toolbar>

    <md-card>
      <div class="row">
        <div class="col-xs-12 col-md-6">

          <img-cropper #cropper [image]="cropperData" [settings]="cropperSettings"></img-cropper>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="file-upload">
              <span class="text">Choose your profile picture</span>
              <input class="custom-input" type="file" (change)="fileChangeListener($event)">
          </div>
          <span class="result" *ngIf="cropperData.image" >
            <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
          </span>
        </div>
      </div>
    </md-card>
    
    <md-card>
      <form class="example-form" #orgForm="ngForm">
        
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              

              <input mdInput class="" placeholder="Organization Name" [(ngModel)]="visa.orgName" #orgName="ngModel" name="orgName" data-toggle="tooltip" title="Enter name of the organization" data-placement="right" required>
              
              <md-error *ngIf="orgName.errors && (orgName.dirty || orgName.touched)">
                <div [hidden]="!orgName.errors.required">
                  Organization name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              
              <input mdInput placeholder="Trade Licence Number" [(ngModel)]="visa.licenceNum" #licenceNum="ngModel" name="licenceNum" data-toggle="tooltip" title="Enter trade licence number" data-placement="right" required>

              <md-error *ngIf="licenceNum.errors && (licenceNum.dirty || licenceNum.touched)">
                <div [hidden]="!licenceNum.errors.required">
                  Trade Licence Number is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            
            <md-select placeholder="Visa Type" name="visaType" class="example-full-width form-ele" [(ngModel)]="visa.visaType" #visaType="ngModel" name="visaType"  required>
              <md-option *ngFor="let visaType of visaTypes" [value]="visaType.value">
                {{visaType.viewValue}}
              </md-option>
            </md-select>
            
            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="visaType.errors && (visaType.dirty || visaType.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!visaType.errors.required">
                    Select Visa Type
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Applicant Status" name="appStatus" class="example-full-width form-ele" [(ngModel)]="visa.appStatus" #appStatus="ngModel" name="appStatus"  required>
              <md-option *ngFor="let status of applicantStatusOptions" [value]="status.value">
                {{status.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="appStatus.errors && (appStatus.dirty || appStatus.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!appStatus.errors.required">
                    Select Applicant Status
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Type of Application" name="appType" class="example-full-width form-ele" [(ngModel)]="visa.appType" #appType="ngModel" name="appType"  required>
              <md-option *ngFor="let appType of appTypes" [value]="appType.value">
                {{appType.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="appType.errors && (appType.dirty || appType.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!appType.errors.required">
                    Select Type of Application
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Processing Time" name="processTime" class="example-full-width form-ele" [(ngModel)]="visa.processTime" #processTime="ngModel" name="processTime"  required>
              <md-option *ngFor="let processTime of processTimes" [value]="processTime.value">
                {{processTime.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="processTime.errors && (processTime.dirty || processTime.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!processTime.errors.required">
                    Select Processing Time
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

      </form>
    </md-card>

    <span class="done">
      <button md-fab (click)="nextTab(orgForm)">
        <md-icon>keyboard_arrow_right circle</md-icon>
      </button>
    </span>
  </md-tab>
  
  <md-tab label="Personal Details" [disabled]="true" class="disabled-tab">
    <md-toolbar color="primary">
      <span><md-icon>supervisor_account</md-icon></span>

      <span class="center-txt">Personal Details</span>

      <button md-icon-button >
        <!-- <md-icon>more_vert</md-icon> -->
      </button>
    </md-toolbar>
  
    <md-card>
      <form class="example-form" #personalForm="ngForm">
        
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <span class="result" *ngIf="cropperData.image" >
              <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span>
          </div>
        </div>

        <div class="row mar-top-2">
          <div class="col-xs-12 col-md-6">
            
            <md-input-container class="example-full-width form-ele-input">

              <input mdInput placeholder="First Name" [(ngModel)]="visa.firstname" #firstname="ngModel" name="firstname" data-toggle="tooltip" title="Enter first name as per passport" data-placement="right" required>
              
              <md-error *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                <div [hidden]="!firstname.errors.required">
                  First Name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
            
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">

              <input mdInput placeholder="Last Name" [(ngModel)]="visa.lastname" #lastname="ngModel" name="lastname" data-toggle="tooltip" title="Enter last name as per passport" data-placement="right" required>
              
              <md-error *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                <div [hidden]="!lastname.errors.required">
                  Last Name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">

            <md2-datepicker name="dob"
                      placeholder="Date of Birth"
                      [(ngModel)]="visa.dob"
                      #dob="ngModel"  
                      [required]="true"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [isOpen]="dobOpen"
                      [type]="type"
                      [enableDates]="enableDates"
                      [mode]="mode"
                      [container]="container"
                      class="example-full-width" (click)="openDatepicker()" required>
            </md2-datepicker>

            <div class="mat-input-subscript-wrapper mar-top-0" ng-reflect-ng-switch="error">
              <div class="" style="opacity: 1; transform: translateY(0%);">        
                <md-error *ngIf="dob.errors && (dob.dirty || dob.touched)">
                  <div [hidden]="!dob.errors.required">
                    Date of Birth is required
                  </div>
                </md-error>
              </div>
            </div>

          </div>
            
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input mar-top-4">
              <input mdInput placeholder="Passport Number" [(ngModel)]="visa.passNumber" #passNumber="ngModel" name="passNumber" data-toggle="tooltip" title="Enter passport number" data-placement="right" required>
              
              <md-error *ngIf="passNumber.errors && (passNumber.dirty || passNumber.touched)">
                <div [hidden]="!passNumber.errors.required">
                  Passport Number is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md2-datepicker name="expiryDate"
                      placeholder="Passport Expiry Date"
                      [(ngModel)]="visa.expiryDate"
                      #expiryDate="ngModel"  
                      [required]="true"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [isOpen]="expiryOpen"
                      [type]="type"
                      [enableDates]="enableDates"
                      [mode]="mode"
                      [container]="container"
                      class="example-full-width" (click)="openDatepicker()" required (change)="checkExpiryDate(visa.expiryDate)">
            </md2-datepicker>

                <div [hidden]="!expError" class="custom-error">
                  {{expError}}
                </div>

            <div class="mat-input-subscript-wrapper mar-top-0" ng-reflect-ng-switch="error">
              <div class="" style="opacity: 1; transform: translateY(0%);">        
                <md-error *ngIf="expiryDate.errors && (expiryDate.dirty || expiryDate.touched)">
                  <div [hidden]="!expiryDate.errors.required">
                    Passport Expiry Date is required
                  </div>
                </md-error>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md2-datepicker name="issueDate"
                      placeholder="Passport Issue Date"
                      [(ngModel)]="visa.issueDate"
                      #issueDate="ngModel"  
                      [required]="true"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [isOpen]="issueOpen"
                      [type]="type"
                      [enableDates]="enableDates"
                      [mode]="mode"
                      [container]="container"
                      class="example-full-width" (click)="openDatepicker()" required>
            </md2-datepicker>

            <div class="mat-input-subscript-wrapper mar-top-0" ng-reflect-ng-switch="error">
              <div class="" style="opacity: 1; transform: translateY(0%);">        
                <md-error *ngIf="issueDate.errors && (issueDate.dirty || issueDate.touched)">
                  <div [hidden]="!issueDate.errors.required">
                    Passport Expiry Date is required
                  </div>
                </md-error>
              </div>
            </div>
          </div>
        </div>

        <div class="row mar-top-4">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Father Name" [(ngModel)]="visa.fatherName" #fatherName="ngModel" name="fatherName" data-toggle="tooltip" title="Enter father as per passport" data-placement="right" required>
              
              <md-error *ngIf="fatherName.errors && (fatherName.dirty || fatherName.touched)">
                <div [hidden]="!fatherName.errors.required">
                  Father name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Mother Name" [(ngModel)]="visa.motherName" #motherName="ngModel" name="motherName" data-toggle="tooltip" title="Enter mother nameas per passport" data-placement="right" required>
              
              <md-error *ngIf="motherName.errors && (motherName.dirty || motherName.touched)">
                <div [hidden]="!motherName.errors.required">
                  Mother name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Email Address" [(ngModel)]="visa.email" #email="ngModel" name="email"  data-toggle="tooltip" title="Enter your email" data-placement="right" required email>
              
              <md-error *ngIf="email.errors && (email.dirty || email.touched)">
                <div [hidden]="!email.errors.required">
                  Email is required
                </div>

                <div [hidden]="email.errors.required || !email.errors.email">
                  Enter valid email
                </div>
              </md-error>

            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Mobile Number" [(ngModel)]="visa.mobileNum" #mobileNum="ngModel" name="mobileNum" data-toggle="tooltip" title="Enter mobile number" data-placement="right" required>
              
              <md-error *ngIf="mobileNum.errors && (mobileNum.dirty || mobileNum.touched)">
                <div [hidden]="!mobileNum.errors.required">
                  Mobile Number is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">

            <md-select placeholder="Gender" [(ngModel)]="visa.gender" #gender="ngModel"  name="gender" class="example-full-width form-ele" required>
              <md-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="gender.errors && (gender.dirty || gender.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!gender.errors.required">
                    Select Gender
                  </div>
                </md-error>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Country of Birth" [(ngModel)]="visa.cob" #cob="ngModel"  name="cob" class="example-full-width form-ele" required>
              <md-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="cob.errors && (cob.dirty || cob.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!cob.errors.required">
                    Select Country of Birth
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Nationality" [(ngModel)]="visa.nationality" #nationality="ngModel"  name="nationality" class="example-full-width form-ele" required>
              <md-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="nationality.errors && (nationality.dirty || nationality.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!nationality.errors.required">
                    Select Nationality
                  </div>
                </md-error>
              </div>
            </div>
            
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Previous Nationality" [(ngModel)]="visa.prevNationality" #prevNationality="ngModel"  name=" prevNationality" class="example-full-width form-ele" required>
              <md-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="prevNationality.errors && (prevNationality.dirty || prevNationality.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!prevNationality.errors.required">
                    Previous Nationality
                  </div>
                </md-error>
              </div>
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Religion" [(ngModel)]="visa.religion" #religion="ngModel"  name="religion" class="example-full-width form-ele" required>
              <md-option *ngFor="let religion of religions" [value]="religion.value">
                {{religion.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="religion.errors && (religion.dirty || religion.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!religion.errors.required">
                    Select Religion
                  </div>
                </md-error>
              </div>
            </div>
            
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Maritial Status" [(ngModel)]="visa.maritialStatus" #maritialStatus="ngModel"  name="maritialStatus" class="example-full-width form-ele" required>
              <md-option *ngFor="let mStatusOption of mStatusOptions" [value]="mStatusOption.value">
                {{mStatusOption.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="maritialStatus.errors && (maritialStatus.dirty || maritialStatus.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!maritialStatus.errors.required">
                    Select Maritial Status
                  </div>
                </md-error>
              </div>
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
          <md-select placeholder="Education" [(ngModel)]="visa.education" #education="ngModel"  name="education" class="example-full-width form-ele" required>
            <md-option *ngFor="let education of eduOptions" [value]="education.value">
              {{education.viewValue}}
            </md-option>
          </md-select>

          <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="education.errors && (education.dirty || education.touched)">
            <div class="" style="opacity: 1; transform: translateY(0%);">
              <md-error>
                <div [hidden]="!education.errors.required">
                  Select Education
                </div>
              </md-error>
            </div>
          </div>
        </div>
        </div>

      </form>
    </md-card>
    <span class="back">
      <button md-fab (click)="previousTab()">
        <md-icon>keyboard_arrow_left circle</md-icon>
      </button>
    </span>
    <span class="done">
      <button md-fab (click)="nextTab(personalForm)">
        <md-icon>keyboard_arrow_right circle</md-icon>
      </button>
    </span>
  </md-tab>

  <md-tab label="Visa Details" [disabled]="true" class="disabled-tab">
    <md-toolbar color="primary">
      <span><md-icon>flight_takeoff</md-icon></span>

      <span class="center-txt">Visa Details</span>

      <button md-icon-button >
        <!-- <md-icon>more_vert</md-icon> -->
      </button>
    </md-toolbar>
    

    <md-card>
      <!-- <md-card-title>New Visa / Employment Visa / Urgent</md-card-title> -->
      <form class="example-form" #visaForm="ngForm">
         <div class="row">
          <div class="col-xs-12 col-md-6">
            <span class="result" *ngIf="cropperData.image" >
              <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span>
          </div>
        </div>

        <div class="row mar-top-2">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Applicant Status" [(ngModel)]="visa.applicantStatus" #applicantStatus="ngModel" name="applicantStatus" class="example-full-width form-ele" required>
              <md-option *ngFor="let appStatus of appStatusOptions" [value]="appStatus.value">
                {{appStatus.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="applicantStatus.errors && (applicantStatus.dirty || applicantStatus.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!applicantStatus.errors.required">
                    Select Applicant Status
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Change of Status" [(ngModel)]="visa.changeStatus" #changeStatus="ngModel" name="changeStatus" class="example-full-width form-ele" required>
              <md-option *ngFor="let changeStatus of changeOptions" [value]="changeStatus.value">
                {{changeStatus.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="changeStatus.errors && (changeStatus.dirty || changeStatus.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!changeStatus.errors.required">
                    Change of Status is required.
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Medical Service" [(ngModel)]="visa.medicalService" #medicalService="ngModel" name="medicalService" class="example-full-width form-ele" required>
              <md-option *ngFor="let medicalService of medicalServices" [value]="medicalService.value">
                {{medicalService.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="medicalService.errors && (medicalService.dirty || medicalService.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!medicalService.errors.required">
                    Select Applicant Status
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            
          </div>
        </div>


      </form>
    </md-card>
    <span class="back">
      <button md-fab (click)="previousTab()">
        <md-icon>keyboard_arrow_left circle</md-icon>
      </button>
    </span>
    <span class="done">
      <button md-fab (click)="nextTab(visaForm)">
        <md-icon>keyboard_arrow_right circle</md-icon>
      </button>
    </span>
  </md-tab>

  <md-tab label="Salary Details" [disabled]="true" class="disabled-tab">
    <md-toolbar color="primary">
      <span><md-icon>work</md-icon></span>

      <span class="center-txt">Salary Details</span>

      <button md-icon-button >
        <!-- <md-icon>more_vert</md-icon> -->
      </button>
    </md-toolbar>
    
    <md-card>
      <form class="example-form" #salaryForm="ngForm">
        
         <div class="row">
          <div class="col-xs-12 col-md-6">
            <span class="result" *ngIf="cropperData.image" >
              <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span>
          </div>
        </div>

        <div class="row mar-top-2">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Designation" [(ngModel)]="visa.designation" #designation="ngModel" name="designation" class="example-full-width form-ele" required>
              <md-option *ngFor="let designation of designations" [value]="designation.value">
                {{designation.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="designation.errors && (designation.dirty || designation.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!contractType.errors.required">
                    Select Designation
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input mar-top-4">
              <input mdInput class="" placeholder="Basic Salary" [(ngModel)]="visa.basicSalary" #basicSalary="ngModel" name="basicSalary"  required (change)="calTotalSalary(visa.basicSalary)">
              
              <md-error *ngIf="basicSalary.errors && (basicSalary.dirty || basicSalary.touched)">
                <div [hidden]="!basicSalary.errors.required">
                  Basic Salary is required
                </div>
              </md-error>
            </md-input-container>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Housing Allowance" [(ngModel)]="visa.housingAllowance" #housingAllowance="ngModel" name="housingAllowance"  required (change)="calTotalSalary(visa.housingAllowance)">
              
              <md-error *ngIf="housingAllowance.errors && (housingAllowance.dirty || housingAllowance.touched)">
                <div [hidden]="!housingAllowance.errors.required">
                  Housing Allowance is required
                </div>
              </md-error>
            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Transport Allowance" [(ngModel)]="visa.transportAllowance" #transportAllowance="ngModel" name="transportAllowance"  required (change)="calTotalSalary(visa.transportAllowance)">
              
              <md-error *ngIf="transportAllowance.errors && (transportAllowance.dirty || transportAllowance.touched)">
                <div [hidden]="!transportAllowance.errors.required">
                  Transport Allowance is required
                </div>
              </md-error>
            </md-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Other" [(ngModel)]="visa.otherAllowance" #otherAllowance="ngModel" name="otherAllowance" (change)="calTotalSalary(visa.otherAllowance)">
              
            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Total Salary" [(ngModel)]="visa.totalSalary" #totalSalary="ngModel" disabled name="totalSalary"  required>
              
              <md-error *ngIf="totalSalary.errors && (totalSalary.dirty || totalSalary.touched)">
                <div [hidden]="!totalSalary.errors.required">
                  Transport Allowance is required
                </div>
              </md-error>
            </md-input-container>
          </div>
        </div>


        <md-card-title class="form-headings">Job Offer Details</md-card-title>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Contract Type" [(ngModel)]="visa.contractType" #contractType="ngModel" name="contractType" class="example-full-width form-ele" required>
              <md-option *ngFor="let contractType of contractTypes" [value]="contractType.value">
                {{contractType.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="contractType.errors && (contractType.dirty || contractType.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!contractType.errors.required">
                    Select Contract Type
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Weekly Holidays" [(ngModel)]="visa.weeklyHoliday" #weeklyHoliday="ngModel" name="weeklyHoliday" class="example-full-width form-ele" required>
              <md-option *ngFor="let weeklyHoliday of weeklyHolidays" [value]="weeklyHoliday.value">
                {{weeklyHoliday.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="weeklyHoliday.errors && (weeklyHoliday.dirty || weeklyHoliday.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!weeklyHoliday.errors.required">
                    Select Weekly Holidays
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Probation Period" [(ngModel)]="visa.probationPeriod" #probationPeriod="ngModel" name="probationPeriod" class="example-full-width form-ele" required>
              <md-option *ngFor="let probationPeriod of probationPeriods" [value]="probationPeriod.value">
                {{probationPeriod.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="probationPeriod.errors && (probationPeriod.dirty || probationPeriod.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!probationPeriod.errors.required">
                    Select Probation Period
                  </div>
                </md-error>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-6">
            <md-select placeholder="Notice Period" [(ngModel)]="visa.noticePeriod" #noticePeriod="ngModel" name="noticePeriod" class="example-full-width form-ele" required>
              <md-option *ngFor="let noticePeriod of noticePeriods" [value]="noticePeriod.value">
                {{noticePeriod.viewValue}}
              </md-option>
            </md-select>

            <div class="mat-input-subscript-wrapper" ng-reflect-ng-switch="error" style="margin-top: -1.5em;" *ngIf="noticePeriod.errors && (noticePeriod.dirty || noticePeriod.touched)">
              <div class="" style="opacity: 1; transform: translateY(0%);">
                <md-error>
                  <div [hidden]="!noticePeriod.errors.required">
                    Select Notice Period
                  </div>
                </md-error>
              </div>
            </div>

          </div>
        </div>

        <md-card-title class="form-headings">Courier Service</md-card-title>

        <div class="row">
          <div class="col-xs-12">
            <b>Every visa application includes 1 free courier service and additional for AED 20 only. Please select below if you wish to use the pick and drop off service for cheque, Passport(s), Document(s), etc.</b>
          </div>
        </div>

        <section class="example-section align-with-form mar-top-2">
          <md-checkbox class="example-margin">Documents Pick up</md-checkbox>
        </section>
        <section class="example-section align-with-form">
          <md-checkbox class="example-margin">Cheque Collection</md-checkbox>
        </section>
        <section class="example-section align-with-form">
          <md-checkbox class="example-margin">Passport Pick up</md-checkbox>
        </section>
        <section class="example-section align-with-form">
          <md-checkbox class="example-margin">Passport Drop up</md-checkbox>
        </section>

        <div class="row mar-top-4">
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Authorized Person Name" [(ngModel)]="visa.authName" #authName="ngModel" name="authName"  required>
              
              <md-error *ngIf="authName.errors && (authName.dirty || authName.touched)">
                <div [hidden]="!authName.errors.required">
                  Authorized Person Name is required
                </div>
              </md-error>

            </md-input-container>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <md-input-container class="example-full-width form-ele-input">
              <input mdInput placeholder="Authorized Person Designation" [(ngModel)]="visa.authDesignation" #authDesignation="ngModel" name="authDesignation"  required>
              
              <md-error *ngIf="authDesignation.errors && (authDesignation.dirty || authDesignation.touched)">
                <div [hidden]="!authDesignation.errors.required">
                  Authorized Person Designation is required
                </div>
              </md-error>

            </md-input-container>
          </div>
        </div>


       
      </form>
    </md-card>

    <span class="done">
      <button md-fab (click)="submitForm(salaryForm)">
        <md-icon>check circle</md-icon>
      </button>
    </span>
  </md-tab>

</md-tab-group>


<md-card *ngIf="submittedData" class="max-wdth">
<!-- <md-card class="max-wdth"> -->
    
    <span class="result" *ngIf="cropperData.image" >
      <img [src]="cropperData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
    </span>

    <table class="table table-bordered stripped shadow-effect">
    <thead>
        <tr>
            <th colspan="2">Organization Details</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="col-xs-6">Organization Name</td>
            <td class="col-xs-6"><p>{{submittedData.orgName}}</p></td>
        </tr>
        <tr>
            <td class="col-xs-6">Trade License Number</td>
            <td class="col-xs-6"><p>{{submittedData.licenceNum}}</p></td>
        </tr>
        <tr>
            <td class="col-xs-6">Visa Type</td>
            <td class="col-xs-6">
              <p *ngFor="let vType of visaTypes">
                <span *ngIf="submittedData.visaType == vType.value">
                  {{vType.viewValue}}
                </span>
              </p>
            </td>
        </tr>
        <tr>
            <td class="col-xs-6">Applicant Status</td>
            <td class="col-xs-6">
              <p *ngFor="let applicantStatusOption of applicantStatusOptions">
                <span *ngIf="submittedData.applicantStatus == applicantStatusOption.value">
                  {{applicantStatusOption.viewValue}}
                </span>
              </p>
            </td>
        </tr>
        <tr>
            <td class="col-xs-6">Type of Application</td>
            <td class="col-xs-6">
              <p *ngFor="let aType of appTypes">
                <span *ngIf="submittedData.appType == aType.value">
                  {{aType.viewValue}}
                </span>
              </p>
            </td>
        </tr>
        <tr>
            <td class="col-xs-6">Processing Time</td>
            <td class="col-xs-6">
              <p *ngFor="let processingTimes of processTimes">
                <span *ngIf="submittedData.processTime == processingTimes.value">
                  {{processingTimes.viewValue}}
                </span>
              </p>
            </td>
        </tr>
        <tr>
            <td class="col-xs-6">Documents</td>
            <td class="col-xs-6">Color Picture in white background<br>
                Scanned colored passport copy</td>
        </tr>
    </tbody>
  </table>
  <p>
      <!-- <button class="btn btn-clr" md-raised-button ng-click="editStep1()">Edit Step 1</button> -->
  </p>

<table class="table table-bordered shadow-effect">
    <thead>
    <tr>
        <th colspan="2">Personal Details</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="col-xs-6">First Name</td>
        <td class="col-xs-6"><p>{{submittedData.firstname}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Last Name</td>
        <td class="col-xs-6"><p>{{submittedData.lastname}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Passport Number</td>
        <td class="col-xs-6"><p>{{submittedData.passNumber}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Date Of Birth</td>
        <td class="col-xs-6"><p>{{submittedData.dob}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Passport Expiry Date</td>
        <td class="col-xs-6"><p>{{submittedData.expiryDate}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Passport Issue Date</td>
        <td class="col-xs-6"><p>{{submittedData.issueDate}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Father Name</td>
        <td class="col-xs-6"><p>{{submittedData.fatherName}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Mother Name</td>
        <td class="col-xs-6"><p>{{submittedData.motherName}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Email address</td>
        <td class="col-xs-6"><p>{{submittedData.email}}</p></td>
    </tr>

    <tr>
        <td class="col-xs-6">Mobile Number</td>
        <td class="col-xs-6"><p>{{submittedData.mobileNum}}</p></td>
    </tr>

    <tr>
        <td class="col-xs-6">Gender</td>
        <td class="col-xs-6">
          <p *ngFor="let genderOption of genders">
            <span *ngIf="submittedData.gender == genderOption.value">
              {{genderOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>

    <tr>
        <td class="col-xs-6">Country of Birth</td>
        <td class="col-xs-6">
          <p *ngFor="let country of countries">
            <span *ngIf="submittedData.cob == country.value">
              {{country.viewValue}}
            </span>
          </p>
        </td>
    </tr>

    <tr>
        <td class="col-xs-6">Nationality</td>
        <td class="col-xs-6">
          <p *ngFor="let country of countries">
            <span *ngIf="submittedData.nationality == country.value">
              {{country.viewValue}}
            </span>
          </p>
        </td>
    </tr>

    <tr>
        <td class="col-xs-6">Previous Nationality</td>
        <td class="col-xs-6">
          <p *ngFor="let country of countries">
            <span *ngIf="submittedData.prevNationality == country.value">
              {{country.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>  
        <td class="col-xs-6">Religion</td>
        <td class="col-xs-6">
          <p *ngFor="let religionOption of religions">
            <span *ngIf="submittedData.religion == religionOption.value">
              {{religionOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Marital Status</td>
        <td class="col-xs-6">
          <p *ngFor="let mOptions of mStatusOptions">
            <span *ngIf="submittedData.maritialStatus == mOptions.value">
              {{mOptions.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Education</td>
        <td class="col-xs-6">
          <p *ngFor="let eduOption of eduOptions">
            <span *ngIf="submittedData.education == eduOption.value">
              {{eduOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <!-- <button class="btn btn-clr" md-raised-button ng-click="editStep2()">Edit Step 2</button> -->
</p>

<table class="table table-bordered shadow-effect">
    <thead>
    <tr>
        <th colspan="2">Visa Details</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="col-xs-6">Applicant Status</td>
        <td class="col-xs-6">
          <p *ngFor="let appStatusOption of appStatusOptions">
            <span *ngIf="submittedData.applicantStatus == appStatusOption.value">
              {{appStatusOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Change of Status</td>
        <td class="col-xs-6">
          <p *ngFor="let changeOption of changeOptions">
            <span *ngIf="submittedData.changeStatus == changeOption.value">
              {{changeOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Medical Service</td>
        <td class="col-xs-6">
          <p *ngFor="let medicalOption of medicalServices">
            <span *ngIf="submittedData.medicalService == medicalOption.value">
              {{medicalOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <!-- <button class="btn btn-clr" md-raised-button ng-click="editStep3()">Edit Step 3</button> -->
</p>

<table class="table table-bordered shadow-effect">
    <thead>
    <tr>
        <th colspan="2">Salary Details</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="col-xs-6">Designation</td>
        <td class="col-xs-6">
          <p *ngFor="let designationOption of designations">
            <span *ngIf="submittedData.designation == designationOption.value">
              {{designationOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Basic Salary</td>
        <td class="col-xs-6"><p>{{submittedData.basicSalary}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Housing Allowance</td>
        <td class="col-xs-6"><p>{{submittedData.housingAllowance}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Transport Allowance</td>
        <td class="col-xs-6"><p>{{submittedData.transportAllowance}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Other</td>
        <td class="col-xs-6"><p>{{submittedData.otherAllowance}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Total Salary</td>
        <td class="col-xs-6"><p>{{submittedData.totalSalary}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Contract Type</td>
        <td class="col-xs-6">
          <p *ngFor="let contractTypeOption of contractTypes">
            <span *ngIf="submittedData.contractType == contractTypeOption.value">
              {{contractTypeOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Weekly Holidays</td>
        <td class="col-xs-6">
          <p *ngFor="let weeklyHolidayOption of weeklyHolidays">
            <span *ngIf="submittedData.weeklyHoliday == weeklyHolidayOption.value">
              {{weeklyHolidayOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Probation Period</td>
        <td class="col-xs-6">
          <p *ngFor="let probationPeriodOption of probationPeriods">
            <span *ngIf="submittedData.probationPeriod == probationPeriodOption.value">
              {{probationPeriodOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Notice Period</td>
        <td class="col-xs-6">
          <p *ngFor="let noticePeriodOption of noticePeriods">
            <span *ngIf="submittedData.noticePeriod == noticePeriodOption.value">
              {{noticePeriodOption.viewValue}}
            </span>
          </p>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Courier Service</td>
        <td class="col-xs-6">
            Documents Pick up<br/>
            Cheque Collection<br/>
            Passport Pick up<br/>
            Passport Drop up<br/>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">Authorized Person Name</td>
        <td class="col-xs-6"><p>{{submittedData.authName}}</p></td>
    </tr>
    <tr>
        <td class="col-xs-6">Authorized Person Designation</td>
        <td class="col-xs-6"><p>{{submittedData.authDesignation}}</p></td>
    </tr>
    </tbody>
</table>



</md-card>