<div>
  <md-toolbar color="primary">
    <span><md-icon>work</md-icon></span>

    <span>Organization Details</span>

    <button md-icon-button >
      <!-- <md-icon>more_vert</md-icon> -->
    </button>
  </md-toolbar>
  
  <md-card>
    <form class="example-form">
      
      <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Organization Name">
          </md-input-container>
        </md-grid-tile>
        
        <md-grid-tile>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Trade Licence Number">
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile>
          <md-select placeholder="Visa Type" name="visaType" class="example-full-width">
            <md-option *ngFor="let visaType of visaTypes" [value]="visaType.value">
              {{visaType.viewValue}}
            </md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select placeholder="Applicant Status" name="appStatus" class="example-full-width">
            <md-option *ngFor="let status of applicantStatus" [value]="status.value">
              {{status.viewValue}}
            </md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile>
          <md-select placeholder="Type of Application" name="appType" class="example-full-width">
            <md-option *ngFor="let appType of appTypes" [value]="appType.value">
              {{appType.viewValue}}
            </md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select placeholder="Processing Time" name="processTime" class="example-full-width">
            <md-option *ngFor="let processTime of processTimes" [value]="processTime.value">
              {{processTime.viewValue}}
            </md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>

    </form>
  </md-card>

  <span class="done">
    <button md-fab (click)="next()">
      <md-icon>keyboard_arrow_right circle</md-icon>
    </button>
  </span>
</div>